<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> <br>
        <%= @user.university %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
  <section>
  <br>
  <pt>
    Education <br></pt>
    <h3>
    <%= @user.university %> <br>
    <h4>
    <%= @user.degree %>, GPA: <%= @user.gpa %> 
    </pt>
    </section>
    <section>
    <pt>
    <br>
          <br>
      Work Experience <br> </pt>
      <h3>
      <%= @user.title %>, <%= @user.employer %> 
      </section>
      <section>
      <pt>
      <br>
            <br>
        Nursing Experience <br> </pt>
         </section>
         
         <pt>
         <br>
               <br>
           Awards <br> </pt>
            </section>
  </div>
</div>